{
	
	"env": {
	  "es6": true,
	  "node": true
	},

	"settings": {
		"ecmascript": 6
	},

	"extends": "airbnb",
	"rules": {
		"semi": 0,
		"padded-blocks": ["error", "always"],
		"linebreak-style": 0
	},

	"parser": "babel-eslint"

}